.about-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0 0;
}

.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.bg-placeholder {
    width: 100%;
    height: 10vh;
}

.about-bg {
    background-image: url(../assets/peaks/wave-haikei-1.1.svg);
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 10vh;
    position:fixed;
    bottom: 0;
}

.about-content {
    width: 80%;
    height: 80vh;
    
    align-self: center;
}

.test {
    height: 20px;
}

.about-content h2{   
    margin:0;
    padding: 2vh 0;
}

.about-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
}

.about-profile img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.about-body {
    padding: 3vh 0;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 3vh;
    padding-bottom: 10vh;
}

.skill-icons {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill-icon {
    width: 70px;
    height: 70px;
    margin: 0 10px;
}

@media (max-width: 768px) {
    .about-profile img {
        width: 200px;
        height: 200px
    }
}