.home-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    position: relative;
    flex-direction: column;
    
}

.home-content {
    width: 80%;
    height: 65vh;
    display: flex;
    align-items: center;
    align-self: center;
}

.home-title {
    margin-top: 30vh;
}

.home-bg {
    background-image: url(../assets/layered-peaks-haikei-edit.svg);
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 25vh;
    
}