.home-container{
    /* background-image: url(../../public/layered-peaks-haikei.svg);
    background-size: cover; /* Ensures full width, maintains aspect ratio
    background-position: bottom;
    background-repeat: no-repeat; */
    width: 100vw;
    height: 90vh;
}