.projects-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    position: relative;
    flex-direction: column;
}

.projects-bg {
    background-image: url(../assets/peaks/wave-haikei-2.2.svg);
    /* background-size: 100% 100%; */
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 100%;
    height: 10vh;
    position:fixed;
    bottom: 0;
}

.projects-content {
    width: 80%;
    height: 80vh;
    

    align-self: center;
    justify-self: center;
}

.projects-projects {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10vh;
    padding-top: 3vh;
    display: flex;
    flex-wrap: wrap;
}

.projectCard-container {
    padding: 10px 10px;
    

}